#set ($function = "CacheIp")

#if ($util.isNull($ctx.result))
  $util.log.error({
    "user": $ctx.stash.user,
    "function": $function,
    "code": "Failure",
    "error": $ctx.error
  })
  #return ($util.toJson($ctx.stash.location))
#else
  $util.log.info({
    "user": $ctx.stash.user,
    "function": $function,
    "code": "Success"
  })
  #return ($util.toJson($ctx.result))
#end