#set ($function = "CacheIp")

#if ($ctx.error)
  $util.log.error({
    "user": $ctx.stash.user,
    "function": $function,
    "code": "Failure",
    "error": $ctx.error,
  })
  $util.quiet($ctx.stash.put("location_cache"), $ctx.prev)
  #return ($util.toJson($ctx.prev))
#else
  $util.log.info({
    "user": $ctx.stash.user,
    "function": $function,
    "code": "Success",
  })
  $util.quiet($ctx.stash.put("location_cache"), $ctx.result)
  #return ($util.toJson($ctx.result))
#end