#if (!$util.isNull($ctx.stash.location_cache))
  ## value already in cache, do nothing
  #return ($util.toJson($ctx.stash.location_cache))    
#end
$util.quiet($ctx.prev.put("ttl", $util.nowEpochSeconds() + (60 * 60 * 24 * 7)))
{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "ip": $util.dynamodb.toDynamoDBJson($ctx.stash.ip)
  },
  "attributeValues": $util.dynamodb.toDynamoDBJson($ctx.prev)
}