#set( $ttl = $ctx.stash.entry_time + 300 )
#set ( $coordinates = {
  "latitude": $ctx.stash.location.latitude,
  "longitude": $ctx.stash.location.longitude
})
{
  "version": "2018-05-29",
  "operation": "TransactWriteItems",
  "transactItems": [
  #foreach($dequeue_table in $ctx.stash.dequeue_tables)
    {
      "table": $util.toJson($dequeue_table),
      "operation": "DeleteItem",
      "key": {
        "user": $util.dynamodb.toDynamoDBJson($ctx.stash.user.id)
      }
    },
  #end
    {
      "table": $util.toJson($ctx.stash.queue_table),
      "operation": "PutItem",
      "key": {
        "user": $util.dynamodb.toDynamoDBJson($ctx.stash.user.id)
      },
      "attributeValues": {
        "ip": $util.dynamodb.toDynamoDBJson($ctx.stash.ip),
        "coordinates": $util.dynamodb.toDynamoDBJson($coordinates),
        "mmr": $util.dynamodb.toDynamoDBJson($ctx.stash.mmr),
        "ttl": $util.dynamodb.toDynamoDBJson($ttl),
        "join_time": $util.dynamodb.toDynamoDBJson($ctx.stash.entry_time),
        "queue": $util.dynamodb.toDynamoDBJson($ctx.stash.queue_table),
        "userInfo": $util.dynamodb.toDynamoDBJson($ctx.stash.user),
        "region": $util.dynamodb.toDynamoDBJson($ctx.stash.region)
      }
    }
  ]
}