#set ($function = "JoinQueue")
$util.quiet($extensions.setSubscriptionFilter(
  {
    "filterGroup": [
      {
        "filters": [
          {
            "fieldName": "queue",
            "operator": "eq",
            "value": $ctx.stash.queue_table
          },
          {
            "fieldName": "playerIds",
            "operator": "contains",
            "value": $ctx.stash.user.id
          }
        ]
      }
    ]
  }
))

#if ($util.isNull($ctx.result) || $ctx.error)
  $util.log.error({
    "user": $ctx.stash.user.id,
    "function": $function,
    "code": "Failure",
    "error": $ctx.error
  })
  $util.error("Failed to join queue")
#else
  #return ($util.toJson($ctx.result))
#end