#set ($function = "GetUser")

#if ($util.isNull($ctx.result))
  ## todo: we should maybe init user here?
  $util.log.error({
    "user": $ctx.stash.user,
    "function": $function,
    "code": "Warning",
    "error": $ctx.error
  })
#end

$util.quiet($ctx.stash.put("userInfo", $ctx.result))
#if (!$util.isNull($ctx.stash.mmrKey))
  $util.quiet($ctx.stash.put("mmr", $util.defaultIfNull($ctx.result.get($ctx.stash.mmrKey), 1500)))
#else
  ## fallback just in case
  $util.quiet($ctx.stash.put("mmr", 1500))
#end
#return ($util.toJson($ctx.result))