#set ($function = "HealthcheckResponse")

#if ($util.isNull($ctx.result) || $ctx.error)
  $util.log.error({
    "user": $ctx.stash.user.id,
    "function": $function,
    "code": "Failure",
    "error": $ctx.error
  })
  #if ( $ctx.error.type == "DynamoDB:ConditionalCheckFailedException" )
    $util.error("invalid healthcheck id")
  #else
    $util.error("Failed to respond to healthcheck")
  #end
#else
  #return ($util.toJson($ctx.result))
#end