#set ($function = "IpLookup")

#if ($util.isNull($ctx.result))
  $util.log.error({
    "user": $ctx.stash.user,
    "function": $function,
    "code": "Failure",
    "error": $ctx.error
  })
  $util.error("Failed to lookup user's ip address")
#else
  $util.quiet($ctx.stash.put("location"), $ctx.result)
  #return ($util.toJson($ctx.result))
#end