#set ($function = "PostHealthcheck")

#if ($util.isNull($ctx.result) || $ctx.error)
  $util.log.error({
    "user": $ctx.stash.user.id,
    "function": $function,
    "code": "Failure",
    "error": $ctx.error
  })
  $util.error("Failed to post healthcheck")
#else
  #return ($util.toJson($ctx.result))
#end