#set ($detail = {
  "event": "enqueue",
  "queue": $ctx.stash.queue_table,
  "version": $ctx.stash.queue_version,
  "user": $ctx.stash.user
})
{
  "version": "2018-05-29",
  "method": "POST",
  "resourcePath": "/",
  "params": {
    "headers": {
      "content-type": "application/x-amz-json-1.1",
      "x-amz-target":"AWSEvents.PutEvents"
    },
    "body": {
      "Entries":[
        {
          ## todo: consider dynamic name
          "Source": "Slippi",
          "EventBusName": $util.toJson($ctx.stash.eventBus),
          "Detail": $util.toJson($detail),
          ## this will contain the subscription name (i.e. joinUnrankedSoloQueue)
          "DetailType": $util.toJson($ctx.info.fieldName)
         }
      ]
    }
  }
}