#set ($function = "PublishEnqueue")

## note: skipping errors under the assumption that another user will trigger the event bus anyway
#if ($ctx.error)
  $util.log.error({
    "user": $ctx.stash.user,
    "function": $function,
    "code": "Failure",
    "error": $ctx.error,
  })
  #return (null)
#elseif ($ctx.result.statusCode != 200)
  $util.log.error({
    "user": $ctx.stash.user,
    "function": $function,
    "code": "Failure",
    "error": {
      "message": $ctx.result.body,
      "code": $ctx.result.statusCode,
      "type": "BadResponseCode"
    }
  })
  #return (null)
#else
  #return ($util.toJson($ctx.result))
#end